{% extends "Templates/base.html" %}

{% block title %}Credential{% endblock %}

{% block styles %}
<style>
    input {
        margin-bottom: 1rem;
    }

    button {
        background-color: #184eff;
        color: #FFFFFF;
        border: 0;
        border-radius: .25rem;
        cursor: pointer;
        padding: .5rem;
        transition: all .25s;
    }

    button:hover {
        background-color: #153ec6;
    } 

    button:disabled {
        background-color: #4973fe;
    }

    .alert {
        color: red;
        font-size: 1rem;
    }

    .hidden {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <h1>Log-in into your account</h1>
    <form id="loginForm">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" id="password" required>
        <br>
        <button id="loginSubmitButton" type="submit">Access</button>
        <br>
        <p id="message" class="alert hidden"></p>
        <p>Or <a href="#">register</a></p>
    </form>
</main>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('loginForm').addEventListener('submit', async e => {
        e.preventDefault()
        const submitButton = document.getElementById('loginSubmitButton')
        submitButton.disabled = true

        const response = await fetch('', {
            method: "POST",
            body: new FormData(e.target)
        })

        const json = await response.json()
        console.log(json);
        const messageEl = document.getElementById('message')
        submitButton.disabled = false

        if (!response.ok) {
            const responseError = json.error.description
            messageEl.innerHTML = responseError
            messageEl.classList.remove('hidden')
            return
        }

        messageEl.classList.add('hidden')
        window.location.replace('dispatcher')
        return
    })
</script>
{% endblock %}